.form-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-input {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;

  &::placeholder {
    color: #aaa;
    font-size: 14px;
  }

  &:focus {
    outline: none;
    border-color: #888;
    background-color: #fff;
  }
}

.submit-button {
  background-color: var(--primary-color);
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
  margin-top: 40px;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
